{% extends "base.html" %}
{% block snippet %}
{% for Msg in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>{{Msg}}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
    </div>
{% endfor %}
<div class="jumbotron">
    <h1>Add Toy/s for a Puppy.</h1>
    <p>Add Puppy Toy/s to our DB!</p>
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.toys.label }} {{ form.toys() }}
        {{ form.id.label }} {{ form.id() }}
        {{ form.submit() }}
    </form>
</div>
{% endblock %}
